<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta
            name="viewport"
            content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
        />
        <title>Azure Translator</title>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css" />
        <link rel="stylesheet" href="/static/css/styles.css" />
        <link
            rel="stylesheet"
            href="https://fonts.googleapis.com/css?family=Fira+Sans:300,400&amp;display=swap"
        />
    </head>

    <body>
        <section id="hero">
            <div
                class="container"
                style="
                    padding-top: 10px;
                    padding-bottom: 10px;
                    border-bottom-width: 0px;
                "
            >
                <div class="row">
                    <div class="col">
                        <div>
                            <h1
                                class="display-6 text-center mb-0"
                            >
                                AI Translator
                            </h1>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section style="background: var(--bs-gray-300)">
            <div
                class="container"
                style="
                    padding-top: 20px;
                    padding-bottom: 20px;
                    border-bottom-width: 0px;
                "
            >
                <div class="row">
                    <div class="col">
                        <div>
                            <p class="text-center" style="margin: 0px">
                                Translate words, phrases, and sentences between
                                English and over 100 other languages.<br />
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section>
            <div
                class="container"
                style="padding-top: 20px; padding-bottom: 20px"
            >
                <div class="row">
                    <div class="col col-12 col-md-6">
                        <select class="lang-list" required="" id="src-lang">
                            <optgroup label="Setect Language">
                                <option value="auto" selected>Auto Detect</option>
                                <option value="ar">Arabic</option>
                                <option value="en">English</option>
                                <option value="it">Italian</option>
                                <option value="ja">Japanese</option>
                                <option value="ru">Russian</option>
                                <option value="de">German</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="col col-12 col-md-6 mt-3 mt-md-auto">
                        <select class="lang-list" required="" id="trans-lang">
                            <optgroup label="Setect Language">
                                <option value="ar">Arabic</option>
                                <option value="en">English</option>
                                <option value="it">Italian</option>
                                <option value="ja">Japanese</option>
                                <option value="ru">Russian</option>
                                <option value="de">German</option>
                            </optgroup>
                        </select>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col col-12 col-md-6">
                        <textarea
                            class="form-control lang-list"
                            rows="10"
                            cols="20"
                            id="src-text"
                            placeholder="Paste or Type Text"
                        ></textarea>
                    </div>
                    <div class="col col-12 col-md-6 mt-3 mt-md-auto">
                        <textarea
                            class="form-control lang-list"
                            placeholder="Translation"
                            autocomplete="off"
                            readonly=""
                            rows="10"
                            cols="20"
                            id="trans-text"
                        ></textarea>
                    </div>
                </div>
            </div>
        </section>

        <script src="/static/js/bootstrap.min.js"></script>
        <script src="/static/js/jquery.min.js"></script>
        <script src="/static/js/script.js"></script>
        <script>
            $("#src-lang option").each(function () {
                if ($(this).val() == "auto") {
                    $(this).attr("selected", "selected");
                }
            });
        </script>
    </body>
</html>
